/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    background-color: $white;
}

/*--------------------------------------------------------------
# Masthead
--------------------------------------------------------------*/
.masthead {
    @include grid-width($col-12-width);
    @include center-block;
    @include clearfix;
}

/*--------------------------------------------------------------
# Site Logo
--------------------------------------------------------------*/
.site-logo {
    @include floating-left;
    background-image: url(../../assets/images/logo-240x74.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 120px 37px;
    display: block;
    height: 37px;
    text-indent: -9999em;
    top: px(4);
    top: rem(4);
    width: 120px;
}

/*--------------------------------------------------------------
# Masthead Button
--------------------------------------------------------------*/
.masthead-button {
    @include floating-right;
}

/*--------------------------------------------------------------
# Sticky Header
--------------------------------------------------------------*/
.sticky-header {
    left: 0;
    opacity: 0;
    position: fixed;
    top: -(em(120));
    transition: all 0.25s ease-in-out 0.25s;
    width: 100%;
    z-index: 1000;
}

.header-slide-down {
    background-color: $alpha-ninety-white;
    opacity: 1;
    text-align: center;
    top: 0;
}