/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/
code {
    background-color: $gray-bg-color;
    border: 1px solid $gray-border-color;
    border-radius: px(2);
    font-size: 80%;
    font-family: $font-family-mono;
    padding: px(2) px(4);
}