/*--------------------------------------------------------------
# Form Elements
--------------------------------------------------------------*/
form {
    background-color: lighten($gray-bg-color, 5%);
    border-radius: px(5);
    border-radius: rem(5);
    padding: px(8 * $vertical-rhythm-multiple);
    padding: rem(8 * $vertical-rhythm-multiple);
}

form ul, form ol,
form ul ul, form ul ol,
form ol ul, form ol ol {
    @include reset-list;
    margin: 0;
}

form li {
    margin-bottom: px($base-line-height);
    margin-bottom: rem($base-line-height);
}

label {
    @include font-setting($font-family-alt, normal, 400);
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=number], input[type=range], input[type=tel],
input[type=time], input[type=week], input[type=file], textarea, select {
    @include font-setting($font-family-alt, normal, 400);
    @include appearance(none);
    background-color: $white;
    border: px(2) solid $light-border-color;
    border-radius: px(4);
    border-radius: rem(4);
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    padding: px(2 * $vertical-rhythm-multiple) px(3 * $vertical-rhythm-multiple);
    padding: rem(2 * $vertical-rhythm-multiple) rem(3 * $vertical-rhythm-multiple);
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=number], input[type=range], input[type=tel],
input[type=time], input[type=week], input[type=file], textarea, select {
    transition: all 0.25s ease-in-out 0s;
    width: 100%;
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=time], input[type=week],
input[type=file], select {
    max-width: 100%;
    width: px(120 * $vertical-rhythm-multiple);
    width: rem(120 * $vertical-rhythm-multiple);
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus,
input[type=search]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus,
input[type=datetime-local]:focus, input[type=number]:focus, input[type=range]:focus, input[type=tel]:focus,
input[type=time]:focus, input[type=week]:focus, textarea:focus, select:focus {
    border-color: $primary-button-color;
}

textarea {
    height: px(240);
    height: rem(240);
    line-height: inherit;
    resize: none;
    overflow: auto;
}

select {
    cursor: pointer;
    margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
        background-color: $white;
        background-image: url(../../assets/images/select_@2x.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: 36px auto;
    }
}

input[type=radio], input[type=checkbox] {
    display: inline-block;
    top: -(px(1 * $vertical-rhythm-multiple));
    top: -(rem(1 * $vertical-rhythm-multiple));
    vertical-align: middle;
}

input[type=radio] {
    margin-right: px(3 * $vertical-rhythm-multiple);
    margin-right: rem(3 * $vertical-rhythm-multiple);
}

input[type=checkbox] {
    margin-right: px($vertical-rhythm-multiple);
    margin-right: rem($vertical-rhythm-multiple);
}

input[type=radio], input[type=checkbox] {
    &:checked + label {
        font-weight: 700;
    }
}

input[type=submit], button[type=submit], input[type=button] {
    @include font-setting($font-family-alt, normal, 400);
    @include appearance(none);
    background-color: $primary-button-color;
    border: none;
    border-radius: px(4);
    border-radius: rem(4);
    color: $white;
    font-size: inherit;
    margin: 0;
    padding: px(3 * $vertical-rhythm-multiple) px(6 * $vertical-rhythm-multiple);
    padding: rem(3 * $vertical-rhythm-multiple) rem(6 * $vertical-rhythm-multiple);
    transition: all 0.25s ease-in-out 0s;
}

input[type=submit]:hover, button[type=submit]:hover, input[type=button]:hover {
    background-color: $primary-button-color-hover;
    cursor: pointer;
}

:-moz-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

::-moz-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

.rq {
    color: $stop-color;
}

.form-messages {
    color: $success-color;
}

/*--------------------------------------------------------------
# Comment Form
--------------------------------------------------------------*/
#commentform {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    p {
        @include font-setting($font-family-alt, normal, 400);
        @include typeset($base-font-size, (7 * $vertical-rhythm-multiple));
        margin-bottom: px(4 * $vertical-rhythm-multiple);
        margin-bottom: rem(4 * $vertical-rhythm-multiple);
    }
    .form-rules {
        margin-bottom: px($base-line-height);
        margin-bottom: em($base-line-height);
    }
    .form-submit {
        text-align: right;
    }
    label {
        @include screen-reader;
    }
}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Alternate Search Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Engagement Form
--------------------------------------------------------------*/
.engagement-form {
    @include grid-width($col-6-width);
    @include center-block;
    @include clearfix;
    background-color: transparent;
    font-size: px(18);
    font-size: rem(18);
    margin-bottom: px($base-line-height);
    margin-bottom: rem($base-line-height);
    padding: 0;
    text-align: left;
    label {
        @include screen-reader;
    }
    input[type=email] {
        border: none;
        padding-left: px(15);
        padding-left: rem(15);
        padding-right: px(15);
        padding-right: rem(15);
        width: 100%;
        @include breakpoint(380) {
            margin-right: $col-gutter-width / $col-6-width * 100%;
            width: $col-4-width / $col-6-width * 100%;
        }
    }
    input[type=email],
    input[type=submit] {
        padding-bottom: px(14);
        padding-bottom: rem(14);
        padding-top: px(12);
        padding-top: rem(12);
        @include breakpoint(380) {
            @include floating-left;
        }
    }
    input[type=submit] {
        margin-top: px(15);
        margin-top: rem(15);
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
        @include breakpoint(380) {
            margin-top: 0;
            width: $col-2-width / $col-6-width * 100%;
        }
    }
}